body {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    margin: 0;
    padding: 20px 0 0 0;
    overflow-x: hidden;
    scrollbar-color: blue;
}
::-webkit-scrollbar {
  width: 18px;              /* Vertical scrollbar */
  height: 12px;             /* Horizontal scrollbar */
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: #191919;
  border-radius: 6px;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #00988e;
  border-radius: 6px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
   background: #00ffee;
}
